<wudo-theme-toggler class="theme-toggler">
  <button type="button" class="theme-toggler__btn" aria-live="polite">
    <span class="theme-toggler__icon"></span>
    <span class="theme-toggler__text">{{ dark_label }}</span>
  </button>
</wudo-theme-toggler>
