//
// Article Card component.
//

.article-card {
  height: 100%;
  border-radius: .3rem;
  border: 1px solid var(--color-gray-1);

  box-shadow: var(--box-shadow-base, rgba(0, 0, 0, 0.08) 0px 4px 12px);

  &__image {
    height: 9rem;
    display: grid;
    align-content: center;
    border-radius: .3rem .3rem 0 0;
    overflow: hidden;

    svg {
      transform: scale(5);
      width: 100%;
      height: 10rem;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center center;
    }
  }

  &__content {
    padding: 1rem;
    position: relative;

    & > h2 {
      margin: .5em 0;
      line-height: 1.3;

      a {
        text-decoration: none;
        color: currentColor;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  &__summary {
    font-size: .9rem;
    line-height: 1.4em;
  }

  &__meta {
    padding: 0.1rem 1rem;
    position: absolute;
    bottom: 100%;
    left: 0;
    transform: translateY(50%);
    font-size: .9rem;
    font-weight: 300;
    background-color: var(--color-gray-0, #f5f5f5);
  }
}
