:root {
  font-size: 100%;
  text-size-adjust: 100%;
}

body {
  font-size: 1rem;
  line-height: 1.5;
  color: var(--color-text-text-primary, #222222);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0 0 1em 0;
  font-family: var(--font-family-headings-default);
  line-height: 1.2;
}

h1 {
  font-size: var(--font-size-2xl, 3rem);
}

h2 {
  font-size: var(--font-size-xl, 2rem);
}

h3 {
  font-size: var(--font-size-lg, 1.5rem);
}
