//
// Flyout component.
//

[data-flyout] {

  [data-flyout-panel] {
    overflow: hidden auto;
    visibility: hidden;
  }

  &[data-flyout-expanded] {
    > [data-flyout-panel] {
      visibility: visible;
      z-index: 100;
    }
  }
}
