<div
  class="tabs"
  data-tabs-container
  data-tabs-label="{{ 'Sections'|t }}"
>
  <div class="tabs__nav-placeholder"></div>

  <div class="tabs__content-wrapper">
    {{ tab_content }}
  </div>
</div>
