//
// Pagination component.
//

.pagination {
  $root: &;

  margin: 2rem 0;
  display: flex;
  justify-content: center;

  //@include ct-breakpoint(m) {
  //  width: 100%;
  //  border-bottom-width: ct-particle(0.125);
  //  border-bottom-style: solid;
  //}

  #{$root}__items {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: .5rem;
    list-style: none;
  }

  #{$root}__item--ellipsis {
    padding: 0 2px;
    text-align: center;
  }

  #{$root}__item--first,
  #{$root}__item--previous {
    //
  }

  #{$root}__item--next,
  #{$root}__item--last {
    //
  }

  #{$root}__link,
  #{$root}__item__link {
    display: block;
    min-width: 2rem;
    min-height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.2em 0.6em;
    text-decoration: none;
    color: #222;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 3px;

    &:hover {
      background-color: #eee;
    }

    &.link--active {
      background-color: var(--color-primary-light);
      color: white;
    }

    .icon {
      width: 1rem;
      height: 1rem;
    }
  }
}
