@media (min-width: 768px) {
  .mobile-menu-toggle {
    position: absolute;
    inset: 0 auto auto 0;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
  }
}
.mobile-menu-toggle[aria-expanded=false] .icon-menu {
  display: block;
}
.mobile-menu-toggle[aria-expanded=false] .icon-close {
  display: none;
}
.mobile-menu-toggle[aria-expanded=true] .icon-menu {
  display: none;
}
.mobile-menu-toggle[aria-expanded=true] .icon-close {
  display: block;
}
.mobile-menu-toggle .icon {
  width: 2.5rem;
  height: 2.5rem;
  stroke: currentColor;
  stroke-width: 0.3px;
}
