/**
 * @file countdown.scss
 * @description A countdown component style.
 */
.countdown {
  --bg: var(--color-neutral-10, #f5f5f5);
  --number-bg: transparent;
  --number-border-color: var(--color-neutral-40, #bdbdbd);
}
[data-theme=dark] .countdown {
  --bg: var(--color-neutral-90, #333333);
}
.countdown {
  background-color: var(--bg);
  padding: 3rem 1rem;
  text-align: center;
}
.countdown__emoji {
  font-size: 2.5rem;
  display: block;
  margin-bottom: 0.5rem;
}
.countdown__title {
  font-size: 2rem;
  margin: 0;
  font-weight: 800;
}
.countdown__subtitle {
  font-size: 1.5rem;
  margin: 0.5rem 0 2rem 0;
  opacity: 0.9;
}
.countdown__timer {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.countdown__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90px;
}
.countdown__number {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background: var(--number-bg);
  border-bottom: 5px solid var(--number-border-color);
  font-size: 2.5rem;
  line-height: 1.8;
  font-weight: bold;
  margin-bottom: 0.75rem;
  font-variant-numeric: tabular-nums;
}
.countdown__unit {
  font-size: 0.9rem;
  text-transform: uppercase;
  opacity: 0.9;
}

@media (max-width: 480px) {
  .countdown__card {
    width: 70px;
  }
  .countdown__number {
    font-size: 1.8rem;
    height: 60px;
  }
  .countdown__title {
    font-size: 1.5rem;
  }
}
