:root {
  interpolate-size: allow-keywords;
  /* Colors */
  --color-text-text-primary: #222222;
  --color-semantic-success-10: #e8fcf1;
  --color-semantic-success-20: #a5e1bf;
  --color-semantic-success-40: #419e6a;
  --color-semantic-success-60: #00632b;
  --color-semantic-info-10: #d3e1fe;
  --color-semantic-info-20: #7ea5f8;
  --color-semantic-info-40: #4d82f3;
  --color-semantic-info-60: #2563eb;
  --color-semantic-warning-10: #f8ede6;
  --color-semantic-warning-20: #e4b799;
  --color-semantic-warning-40: #ef9117;
  --color-semantic-warning-60: #bc4b00;
  --color-semantic-error-10: #ffebf0;
  --color-semantic-error-20: #ff9eb1;
  --color-semantic-error-40: #d83232;
  --color-semantic-error-60: #b01212;
  --color-neutral-10: #f5f5f5;
  --color-neutral-20: #e5e5e5;
  /* Layout */
  --page-max-width: 95rem; /* 1520px */
  --content-max-width: 52rem; /* 832px */
  --sidebar-width: 25rem; /* 400px */
  --page-indention: 1.5rem; /* 24px */
  /* Spacing */
  --space-4xs: 0.0625rem; /* 1px */
  --space-3xs: 0.125rem; /* 2px */
  --space-3xs: 0.25rem; /* 4px */
  --space-xs: 0.375rem; /* 6px */
  --space-sm: 0.5rem; /* 8px */
  --space-md: 0.75rem; /* 12px */
  --space-lg: 1rem; /* 16px */
  --space-xl: 1.5rem; /* 24px */
  --space-2xl: 2rem; /* 32px */
  --space-3xl: 3rem; /* 48px */
  --space-4xl: 4rem; /* 64px */
  --space-5xl: 6rem; /* 96px */
  --space-6xl: 8rem; /* 128px */
  --space-7xl: 16rem; /* 256px */
  --space-8xl: 32rem; /* 512px */
  /* Font families */
  --font-family-headings-default: 'Inter', sans-serif;
  --font-family-body-default: 'Inter', sans-serif;
  /* Font size */
  --font-size-2xl: 3rem; /* 48px */
  --font-size-xl: 2rem; /* 32px */
  --font-size-lg: 1.5rem; /* 24px */
  --font-size-md: 1.25rem; /* 20px */
  --font-size-sm: 1.125rem; /* 18px */
  --font-size-xs: 1rem; /* 16px */
  --font-size-2xs: 0.875rem; /* 14px */
  --font-size-3xs: 0.75rem; /* 12px */
  --radius-sm: 5px;
  --radius-xs: 3px;
}

:root {
  font-size: 100%;
  text-size-adjust: 100%;
}

body {
  font-size: 1rem;
  line-height: 1.5;
  color: var(--color-text-text-primary, #222222);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0 0 1em 0;
  font-family: var(--font-family-headings-default);
  line-height: 1.2;
}

h1 {
  font-size: var(--font-size-2xl, 3rem);
}

h2 {
  font-size: var(--font-size-xl, 2rem);
}

h3 {
  font-size: var(--font-size-lg, 1.5rem);
}

/**
 * @file
 * Styles for system messages.
 */
div[data-drupal-messages] {
  margin-bottom: 1rem;
}

.messages {
  margin-left: 0.5rem;
  padding: 15px 20px 15px 35px; /* LTR */
  word-wrap: break-word;
  border: 1px solid;
  border-width: 1px 1px 1px 0; /* LTR */
  border-radius: 2px;
  background: no-repeat 10px 17px; /* LTR */
  overflow-wrap: break-word;
}

[dir=rtl] .messages {
  padding-right: 35px;
  padding-left: 20px;
  text-align: right;
  border-width: 1px 0 1px 1px;
  background-position: right 10px top 17px;
}

.messages + .messages {
  margin-top: 1.538em;
}

.messages__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.messages__item + .messages__item {
  margin-top: 0.769em;
}

.messages--status {
  color: #325e1c;
  border-color: #c9e1bd #c9e1bd #c9e1bd transparent; /* LTR */
  background-color: #f3faef;
  background-image: url(../images/icons/check.svg);
  box-shadow: -8px 0 0 #77b259; /* LTR */
}

[dir=rtl] .messages--status {
  margin-left: 0;
  border-color: #c9e1bd transparent #c9e1bd #c9e1bd;
  box-shadow: 8px 0 0 #77b259;
}

.messages--warning {
  color: #734c00;
  border-color: #f4daa6 #f4daa6 #f4daa6 transparent; /* LTR */
  background-color: #fdf8ed;
  background-image: url(../images/icons/warning.svg);
  box-shadow: -8px 0 0 #e09600; /* LTR */
}

[dir=rtl] .messages--warning {
  border-color: #f4daa6 transparent #f4daa6 #f4daa6;
  box-shadow: 8px 0 0 #e09600;
}

.messages--error {
  color: #a51b00;
  border-color: #f9c9bf #f9c9bf #f9c9bf transparent; /* LTR */
  background-color: #fcf4f2;
  background-image: url(../images/icons/error.svg);
  box-shadow: -8px 0 0 #e62600; /* LTR */
}

[dir=rtl] .messages--error {
  border-color: #f9c9bf transparent #f9c9bf #f9c9bf;
  box-shadow: 8px 0 0 #e62600;
}

.messages--error p.error {
  color: #a51b00;
}

.page-wrapper {
  max-width: var(--page-max-width);
  margin: 0 auto;
  padding: 0 var(--page-indention);
}
