form {
  --placeholder-color: var(--color-neutral-50, #9e9e9e);
  --border-color: var(--color-neutral-80, #424242);
  --padding-block: 0.4375rem;
  --padding-inline: 0.5rem;

  display: flex;
  flex-flow: column;
  max-width: 40rem;
}

.form-item {
  margin-bottom: 1rem;
  display: inline-flex;
  flex-flow: column;
  gap: 0.1rem;

  label {
    font-size: var(--font-size-2xs, 0.875rem);
    font-weight: 700;
  }
}

label.form-required,
label[aria-required='true'] {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;

  &::after {
    content: '';
    display: inline-block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: var(--color-semantic-error-60, #b01212);
    flex: 0 0 auto;
  }
}

.js-webform-type-checkbox {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 0.5rem;
  align-items: baseline;

  input[type=checkbox] {
    grid-column: 1;
    grid-row: 1 / span 2;
    transform: translateY(0.3em);
  }

  label {
    grid-column: 2;
    grid-row: 1;
    font-weight: 400;
    cursor: pointer;
  }

  .description {
    grid-column: 2;
    grid-row: 1;
    font-size: 0.875rem;
  }

  label + .description {
    grid-row: 2;
  }
}
