select {
  padding-block: var(--_padding-block);
  padding-inline: 0.5rem 2.5rem;
  font-size: 1rem;
  position: relative;
  appearance: none;
  background-image: url(/themes/custom/wudo/assets/icons/chevron-down.svg);
  background-position: right 0.5rem center;
  background-repeat: no-repeat;
  border: 1px solid var(--_border-color);
  font-family: var(--font-family-body-default);
  border-radius: var(--radius-xs, 3px);
}

.select2 {
  .select2-selection--single {
    display: block;
    height: 2.5rem;
    border: 1px solid var(--_border-color);
    border-radius: var(--radius-xs, 3px);

    .select2-selection__rendered {
      line-height: 2.5rem;
      .select2-selection__clear {
        margin-right: var(--space-sm, 0.5rem);
      }
    }

    .select2-selection__placeholder {
      color: var(--_placeholder-color);
    }

    .select2-selection__arrow {
      position: absolute;
      width: 1.375rem;
      height: 1.375rem;
      right: 0.5rem;
      top: 50%;
      transform: translateY(-50%);
      background-image: url(/themes/custom/wudo/assets/icons/chevron-down.svg);
      background-repeat: no-repeat;
      background-position: center;

      b {
        visibility: hidden;
      }
    }
  }

  .select2-search--dropdown {
    .select2-search__field {
      padding: 0.65rem 0.5rem;
    }
  }
}

.iti__country-list,
.iti__dial-code {
  color: var(--color-text-primary);
}

.js-form-type-select {
  position: relative;
}

.select2-hidden-accessible {
  top: 100%;
  width: fit-content !important;
}
