.drawer {
  --_duration: 0.3s;
  --_bg: var(--color-surface, #fff);
}
[data-theme=dark] .drawer {
  --_bg: var(--color-neutral-80, #222);
}
.drawer {
  position: fixed;
  inset: 0;
  z-index: 100;
  visibility: hidden;
  transition: visibility var(--_duration);
}
.drawer[open] {
  visibility: visible;
}
.drawer__overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: opacity var(--_duration);
}
.drawer[open] .drawer__overlay {
  opacity: 1;
}
.drawer__inner {
  position: absolute;
  background: var(--_bg);
  display: flex;
  flex-direction: column;
  transition: transform var(--_duration) ease-in-out, opacity var(--_duration);
  max-width: var(--drawer-max-width, 60rem);
  width: 100%;
  height: 100%;
  margin: 0 auto;
}
.drawer--right .drawer__inner {
  right: 0;
  transform: translateX(100%);
}
.drawer--left .drawer__inner {
  left: 0;
  transform: translateX(-100%);
}
.drawer--center .drawer__inner {
  top: 50%;
  left: 50%;
  height: auto;
  max-height: 90vh;
  transform: translate(-50%, -40%) scale(0.95);
  border-radius: 8px;
  opacity: 0;
}
.drawer[open].drawer--right .drawer__inner, .drawer[open].drawer--left .drawer__inner {
  transform: translateX(0);
}
.drawer[open].drawer--center .drawer__inner {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}
.drawer__header {
  padding: 1rem;
  border-bottom: 1px solid #e5e5e5;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.drawer__body {
  padding: 1rem;
  overflow-y: auto;
  flex-grow: 1;
}
.drawer__footer {
  padding: 1rem;
}
.drawer__title {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1em;
  font-weight: 600;
}
.drawer__close {
  padding: 0;
}
