/**
 * @file link.scss
 * Styles for links.
 */
.link {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  word-break: break-word;
}
.link.link--only-icon {
  line-height: 0;
  padding: var(--space-1, 8px);
}
