//
// Link component.
//

.link {
  $root: &;

  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  word-break: break-word;

  &:focus-visible {
    //
  }

  &#{$root}--only-icon {
    line-height: 0;

    // Increase "clickable" area if there is only icon.
    padding: var(--space-1, 8px);
  }

  &:hover,
  &:visited:hover {
    //
  }

  &:visited {
    //
  }

  &#{$root}--active,
  &:active {
    //
  }
}
