/* Don't affect layout */
link-manager {
  display: contents;
}

.ext-icon {
  display: inline-flex;
  margin-left: 0.35em;
  vertical-align: middle;
  width: var(--ext-link-icon-size, 1em);
  height: var(--ext-link-icon-size, 1em);
  line-height: 1;
}

.ext-icon svg {
  width: 100%;
  height: 100%;
  fill: currentColor;
  display: block;
}
