//
// Button component.
//

.button {
  $root: &;

  display: inline-flex;
  padding: var(--space-lg, 16px);
  align-items: center;
  gap: var(--space-sm, 8px);
  border-radius: var(--radius-xs, 3px);
  font-size: var(--font-size-3xs, 12px);
  text-transform: uppercase;

  &--with-badge {
    position: relative;
  }

  &--primary {
    color: var(--color-buttons-button-primary-color, #ffffff);
    background: var(--color-buttons-button-primary-background, #186cd5);

    &[disabled] {
      background: var(--color-buttons-button-disabled-background, #94A3B8);
    }
  }

  &--secondary {
    //
  }

  // Size.
  &--large {
    //
  }

  &--regular {
    //
  }

  &--small {
    //
  }
}
