.button {
  --button-border-width: 1px;
  --button-border-radius: 3px;
  display: inline-flex;
  padding: var(--space-lg, 16px);
  align-items: center;
  gap: var(--space-sm, 8px);
  border-radius: var(--radius-xs, 3px);
  font-size: var(--fonts-size-3xs, 12px);
  text-transform: uppercase;
}
.button--primary {
  color: var(--colors-buttons-button-primary-color, #ffffff);
  background: var(--colors-buttons-button-primary-background, #186cd5);
}
.button--primary[disabled] {
  background: var(--colors-buttons-button-disabled-background, #94A3B8);
}
