:root {
  /* Layout */
  --l-page-max-width: 95rem; /* 1520px */
  --l-content-max-width: 52rem; /* 832px */
  --l-sidebar-width: 25rem; /* 400px */
  /* Spacing */
  --space-4xs: 0.0625rem; /* 1px */
  --space-3xs: 0.125rem; /* 2px */
  --space-3xs: 0.25rem; /* 4px */
  --space-xs: 0.375rem; /* 6px */
  --space-sm: 0.5rem; /* 8px */
  --space-md: 0.75rem; /* 12px */
  --space-lg: 1rem; /* 16px */
  --space-xl: 1.5rem; /* 24px */
  --space-2xl: 2rem; /* 32px */
  --space-3xl: 3rem; /* 48px */
  --space-4xl: 4rem; /* 64px */
  --space-5xl: 6rem; /* 96px */
  --space-6xl: 8rem; /* 128px */
  --space-7xl: 16rem; /* 256px */
  --space-8xl: 32rem; /* 512px */
}
