.icon {
  fill: currentColor;
  width: 1em;
  height: 1em;
  vertical-align: middle;
}
.icon--size-small {
  width: 1rem;
  height: 1rem;
}
.icon--size-regular {
  width: 1em;
  height: 1em;
}
.icon--size-large {
  width: 2rem;
  height: 2rem;
}
