/**
 * @file icon.scss
 * Styles for icons.
 */

.icon {
  fill: currentColor;

  // Size-less icons inherit dimensions from container's font-size.
  width: 1em;
  height: 1em;
  vertical-align: middle;

  &--size-small {
    width: 1rem;
    height: 1rem;
  }

  &--size-regular {
    width: 1em;
    height: 1em;
  }

  &--size-large {
    width: 1.5rem;
    height: 1.5rem;
  }
}
